{% load static %}

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">

<title>{% block title %}{% endblock %}</title>
<style>
  body {
    font-family: 'M PLUS 1p';
  }
</style>

